<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="navtabs-container">

    <nav mat-tab-nav-bar fxFlex fxLayout fxLayoutAlign="center center">
        <a mat-tab-link routerLink="/Home"
        routerLinkActive #home="routerLinkActive"
        [active]="home.isActive">
       Home
       </a>

       <a mat-tab-link routerLink="/accomodation"
       routerLinkActive #accomodation="routerLinkActive"
       [active]="accomodation.isActive">
        Accomodation
       </a>

       <a mat-tab-link routerLink="/food"
       routerLinkActive #food="routerLinkActive"
       [active]="food.isActive">
         Food
       </a>

       <a mat-tab-link routerLink="/lifestyle"
       routerLinkActive #lifestyle="routerLinkActive"
       [active]="lifestyle.isActive">
         Lifestyle
       </a>


       <a mat-tab-link routerLink="/celebrations"
       routerLinkActive #celebrations="routerLinkActive"
       [active]="celebrations.isActive">
         Celebrations
        </a>

        <a mat-tab-link routerLink="/offers"
        routerLinkActive #offers="routerLinkActive"
        [active]="offers.isActive">
           Offers 
        </a>

        

    

        
    </nav>
    <div class="user" #user *ngIf="Authenticated" >
      <a class="nav-link" *ngIf="Authenticated" > {{authService.authenticatedUser!.username}}</a>
        
      <a class="btn nav-link" *ngIf="Authenticated"  (click)="handleLogout()" > 
        <i class="bi bi-box-arrow-left" *ngIf="Authenticated"></i>
      </a>
    </div>
    
</div>
