@import '~@angular/material/theming';

@mixin navtabs-component-theme($nisshotel) {

    $primary:map-get($nisshotel, primary );
    $accent:map-get($nisshotel, accent );
    //Put all theming here
    
 .navtabs-container{
   background-color: mat-color($nisshotel-primary, lighter);
   font-size: small;
   
    }
    
}