
<div id="booking" class="section"> 
    <div class="section-center"> 
        <div class="container"> 
            <div class="row"> 
                <div class="booking-form">
                 <div class="form-header"> 
                    <h1>Make your reservation</h1> 
                </div> 
                <form  > 
                    <div class="form-group"> 
                    <input class="form-control" formControlName="Destination" type="text" placeholder="City of Destination" [(ngModel)]="booking.Destination">
                     <span class="form-label" for="Destination">Destination</span> </div> 
                     <div class="row">
                         <div class="col-md-6">
                             <div class="form-group">
                                 <input class="form-control"formControlName="checkin" type="date" [(ngModel)]="booking.checkin" required> 
                                 <span class="form-label">Check In</span> </div> 
                                 <div class="form-group">
                                    <input class="form-control"formControlName="checkout" type="date" [(ngModel)]="booking.checkout" required> 
                                    <span class="form-label">Check Out</span> </div> </div> 
                                  </div> 
                                  
                                    <div class="row"> <div class="col-md-4"> <div class="form-group"> 
                                        <select class="form-control" formControlName="norooms" [(ngModel)]="booking.norooms" required> 
                                            <option value="" selected hidden>no of rooms</option>
                                             <option>1</option> <option>2</option> <option>3</option> </select>
                                              <span class="select-arrow"></span> 
                                              <span class="form-label">Rooms</span> </div> </div> 
                                              <div class="col-md-4"> <div class="form-group"> 
                                                <select class="form-control" formControlName="noadults" [(ngModel)]="booking.noadults" required> 
                                                    <option value="" selected hidden>no of adults</option> 
                                                    <option>1</option> <option>2</option> <option>3</option> 
                                                    <option>4</option> <option>5</option> <option>6</option>
                                                    <option>7</option> <option>8</option> <option>9</option> 
                                                    <option>10</option></select> 
                                                    <span class="select-arrow"></span> 
                                                    <span class="form-label">Adults</span> </div> </div>
                                                     <div class="col-md-4"> <div class="form-group"> 
                                                        <select class="form-control" formControlName="nochildren" [(ngModel)]="booking.nochildren" required>
                                                             <option value="" selected hidden>no of children</option> 
                                                             <option>1</option> <option>2</option> <option>3</option> 
                                                    <option>4</option> <option>5</option> <option>6</option>
                                                    </select> <span class="select-arrow"></span> 
                                                    <span class="form-label">Children</span> </div> </div> </div>
                                                     <div class="row">
                                                        <div class="col-md-6"> <div class="form-group">
                                                            <input class="form-control" type="text" formControlName="nom" placeholder="Enter your  Name" [(ngModel)]="booking.nom">
                                                             <span class="form-label">Name</span> </div> </div>
                                                             <div class="col-md-6"> <div class="form-group">
                                
                                                        <div class="col-md-6">
                                                         <div class="form-group">
                                                         <input class="form-control" type="email" formControlName="email" placeholder="Enter your Email" [(ngModel)]="booking.email">
                                                          <span class="form-label">Email</span> </div> </div> 
                                                          <div class="col-md-6"> <div class="form-group">
                                                             <input class="form-control" type="tel" formControlName="Phone" placeholder="Enter you Phone" [(ngModel)]="booking.Phone"> <span class="form-label">Phone</span> </div> </div> </div>
                                                           <div class="form-btn"> 
                                                         <button class="submit-btn" (click)="OnSubmit()" >Book Now</button> 
                                                        </div> </div></div></form></div></div></div></div></div>