<div class="all" >
<body>
    <br>
    <br>

<div class="container">
    
    <div class="vertical-center">
        <br>
        <br>
        <br>
        
        <br><br>
        <button  type="button"  class="btn btn-warning btn-rounded" routerLink="/foodBook" style="width:5in;height:100px;">Food </button>
        
        <br>
        <br>
    <button  type="button" class="btn btn-warning btn-rounded" routerLink="/bookings" style="width:5in;height:100px;">Hotel</button>
    <br>
    <br>
 
   <button   type="button"  class="btn btn-warning btn-rounded" routerLink="/CelebBook" style="width:5in;height:100px;">Celebration</button>

</div>
</div>
</body>
</div>
