<div class="hero-container">
    <div class="book-now-container">
        <div fxFlex fxLayoutAlign="flex-end">
            <button class="book-now-button" mat-stroked-button color="primary">
                  Book Now
            </button>
        </div>
    </div>
    <div class="header-container" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
        
            <h2 class="mat-display-1">
                Luxury Hotels Beach Resorts </h2>
            <h1 class="mat-display-4">
                Nessrin Hotels <br>Resort &amp; Spa </h1>
        
    </div>
    <div class="morocco">
        <h3>Morocco</h3>

    </div>
   
</div>
<section class="home-section">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div>
       <h2 class="mat-subheading-2">
          Casablanca,Agadir
       </h2>
    </div>
    <div>
        <h3 class="mat-subheading-3">
             Our Tropical Paradise
        </h3>
    </div>
    <div>
        <p fxFlex="70" fxFlexOffset="15"  class="mat-body-1">
            Located in the heart of the opulent district of Anfa, 5 minutes from the business center, the corniche and the royal golf course,
            THE NESSRIN HOTEL wants to be the unmissable meeting place of the city of CASABLANCA.
            In an art-deco style, LE NESSRIN HOTEL is designed as an elegant and cozy private residence with its
            68 rooms and suites, its magnificent Jasmin Terrace overlooking the hotel's superb garden and main swimming pool,
             its Bar and its refined restaurant “LA BRASSERIE DU BOULEVARD” which will undoubtedly mark your stay.
        </p>
    </div>
  </div>

  <div class="rooms-home-display" fxLayout.xs="column" fxFlexLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center center">
    <mat-card class="rooms-suites" fxFlex="40" fxFlex.sm="80">
        <mat-card-header fxLayout="column" fxLayou="row" fxLayoutAlign="center center">
            <h2>Rooms &amp; Suites</h2>
        </mat-card-header>
        <mat-card-actions>
            <button mat-raised-button color="primary"> Explore </button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="beach-houses" fxFlex="40" fxFlex.sm="80">
        <mat-card-header fxLayout="column" fxLayou="row" fxLayoutAlign="center center">
            <h2>Beach Houses</h2>
        </mat-card-header>
        <mat-card-actions>
            <button mat-raised-button color="primary"> Explore </button>
        </mat-card-actions>
    </mat-card>
  </div>


  
</section>